<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dot</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,30}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{51,118},{30,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flame_0</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{22,47}</string>
				<key>spriteSourceSize</key>
				<string>{32,48}</string>
				<key>textureRect</key>
				<string>{{46,67},{22,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flame_1</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{22,47}</string>
				<key>spriteSourceSize</key>
				<string>{32,48}</string>
				<key>textureRect</key>
				<string>{{72,63},{22,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flame_2</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{22,47}</string>
				<key>spriteSourceSize</key>
				<string>{32,48}</string>
				<key>textureRect</key>
				<string>{{46,67},{22,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>flame_3</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{22,47}</string>
				<key>spriteSourceSize</key>
				<string>{32,48}</string>
				<key>textureRect</key>
				<string>{{98,63},{22,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>glow</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,58}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>textureRect</key>
				<string>{{67,1},{58,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ring</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,62}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>textureRect</key>
				<string>{{1,1},{62,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>smoke</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7.5,2}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>textureRect</key>
				<string>{{1,67},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spark</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{63,12}</string>
				<key>spriteSourceSize</key>
				<string>{64,12}</string>
				<key>textureRect</key>
				<string>{{51,152},{63,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>square</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{8,8}</string>
				<key>spriteSourceSize</key>
				<string>{8,8}</string>
				<key>textureRect</key>
				<string>{{85,114},{8,8}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>star</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,46}</string>
				<key>spriteSourceSize</key>
				<string>{48,48}</string>
				<key>textureRect</key>
				<string>{{1,123},{46,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>fx.png</string>
			<key>size</key>
			<string>{126,170}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
		</dict>
	</dict>
</plist>
