<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bat</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{1,1},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boss_demonlord</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{1,37},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>coin</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{1,73},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>demon</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{1,109},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door_blue</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{1,145},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door_red</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{37,1},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door_yellow</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{73,1},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>exp_up</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{109,1},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>floor</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{145,1},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gem_atk</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{181,1},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gem_def</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{37,37},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>golem</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{37,73},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>key_blue</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{37,109},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>key_red</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{37,145},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>key_yellow</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{73,37},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>npc_handmaiden</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{109,37},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>npc_king</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{145,37},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>npc_princess</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{181,37},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>npc_sorcerer</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{73,73},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>npc_villager</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{73,109},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{73,145},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>potion_blue</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{109,73},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>potion_red</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{145,73},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>scroll</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{181,73},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>skeleton</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{109,109},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>slime</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{109,145},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>stairs_down</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{145,109},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>stairs_up</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{181,109},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wall</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{145,145},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>wraith</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{181,145},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>game.png</string>
			<key>size</key>
			<string>{214,178}</string>
			<key>textureFileName</key>
			<string>game.png</string>
		</dict>
	</dict>
</plist>
